@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#fcfbf8] text-slate-800 antialiased font-sans min-h-screen flex flex-col;
  }
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f5f9;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

/* Custom Leaflet popup overrides */
.leaflet-popup-content-wrapper {
  padding: 0;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
  border: 1px solid #f1f5f9;
}
.leaflet-popup-content {
  margin: 0;
  line-height: 1.5;
}
.leaflet-container {
  font-family: 'Plus Jakarta Sans', sans-serif;
  z-index: 10;
}
